/* 서울우유500ml */
@font-face {
    font-family: 'seoulmilk-500ml';
    src: url('../font/SEOULMILK\ 500mL\ TTF.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 서울우유1000ml */
@font-face {
    font-family: 'seoulmilk-1000ml';
    src: url('../font/SEOULMILK\ 1000mL\ TTF.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* s-core 100 */
@font-face {
    font-family: 's-core-100';
    src: url('../font/SCDream1.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* s-core 200 */
@font-face {
    font-family: 's-core-200';
    src: url('../font/SCDream2.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* s-core 300 */
@font-face {
    font-family: 's-core-300';
    src: url('../font/SCDream3.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* s-core 400 */
@font-face {
    font-family: 's-core-400';
    src: url('../font/SCDream4.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* s-core 500 */
@font-face {
    font-family: 's-core-500';
    src: url('../font/SCDream5.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* s-core 600 */
@font-face {
    font-family: 's-core-600';
    src: url('../font/SCDream6.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* s-core 700 */
@font-face {
    font-family: 's-core-700';
    src: url('../font/SCDream7.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* s-core 800 */
@font-face {
    font-family: 's-core-800';
    src: url('../font/SCDream8.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* s-core 900 */
@font-face {
    font-family: 's-core-900';
    src: url('../font/SCDream9.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* variable css */
$font-s-core-100: 's-core-100';
$font-s-core-200: 's-core-200';
$font-s-core-300: 's-core-300';
$font-s-core-400: 's-core-400';
$font-s-core-500: 's-core-500';
$font-s-core-600: 's-core-600';
$font-s-core-700: 's-core-700';
$font-s-core-800: 's-core-800';
$font-s-core-900: 's-core-900';
$font-seoulmilk-500: 'seoulmilk-500ml';
$font-seoulmilk-1000: 'seoulmilk-1000ml';
$color-black: #2a2a2a;
$color-main: #79191C;
$color-sub: #213B66;

/* footer-section */
footer {
    /* border: 1px solid red; */
    width: 100%;
    height: 100px !important;
    background: #fff;
    // margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            font-size: 14px;
            // letter-spacing: -.8px;
            line-height: 1;
            color: $color-black;
            // font-weight: 500;
        }
        a.back-top-btn {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                font-family: $font-s-core-400;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                transition: transform 0.2s ease-out;
                transform-origin: 100% 0%;
                position: relative;
            }
            span::before {
                content: 'Back Top';
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 100%;
                height: 100%;
                transition: transform 0.2s ease-out;
            }
            .arrow-icon-box {
                margin-right: 14px;
                width: 14px;
                height: 14px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                background: url('../img/arrow-img03.svg') no-repeat center top / 100% auto;
                img {
                    width: 100%;
                    display: none;
                }
            }
        }
        a.back-top-btn:hover {
            span {
                transform: translateY(-100%);
                transform-origin: 0% 0%;
            }
        }
        span.copyrights {
            text-align: center;
            span {
                font-family: $font-s-core-400;
            }
        }
        a.privacy {
            span {
                font-family: $font-s-core-400;
            }
        }
    }
}